[Unit]
Description=Protection DDoS automatique AVHIRAL
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/ddos_protect.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
